.albumTitle{
    color:#fff;
    font-family: "Poppins";
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;


}
.cardComponent{
    display:flex;
    flex-direction:column;
    max-width:159px;
    min-width:159px;
    gap:10px;
}
.cardComponent .MuiCard-root {
  min-width: 159px;
  border-radius: 20px; /* matches borderRadius: 5 in MUI (theme units * 4) */
  max-height: 210px;
}
